Sign up for free to create unlimited sandboxes
0/3 Sandboxes used - Anonymous

CodeSandbox
billowing-sunset-7vbvmo

0
Embed
Fork
Create Sandbox
Sign in






Sandbox Info

billowing-sunset-7vbvmo
0
493
3
Kalai Selvan T S
Kalai Selvan T S
Kalai Selvan T S
Template
static
Environment
static
Files

images
videos
Styles.css
index.html
index.js
package.json
sandbox.config.json
Styles.css
12345678910111213141516171819
* {  margin: 0;  padding: 0;  box-sizing: border-box;}body {  width: 100%;  background: #0c111b;  position: relative;  font-family: roboto, sans-serif;}.navbar {  width: 100%;  height: 80px;  position: fixed;  top: 0;  left: 0;  padding: 0 4%;  background: #0c111b;
Browser
Tests



https://7vbvmo.csb.app/




Console
0
Problems
0
Filter

All
290b26a16
290b26a16
Ln 1, Col 1Spaces: 2UTF-8CRLFCSS